
/* General Styling */
/* 
font-family: 'Alegreya', serif;
font-family: 'Bree Serif', serif;

Colors:
#383F42    - DARK brown/grey maybe
#41A2CC    - light blue
#A3B8C2    - light grey
#003247    - dark blueish
#76868C    - dark grey


*/
html{
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}


header, main, footer {
    flex-shrink: 0; /*This changes the default behavior the
                     items shrink if there is not enough space.
                    The results can look very weird, e.g. a 
                    button that is smaller than the text it contains.*/
}  


h1, h2, h3, a {
    font-family: 'Bree Serif', serif;
}

h1 {
    font-size: 3.052em;
    color: #003247;
    letter-spacing: 0.08em;
    
}

h2{
    font-size: 2.441em;
    width: 100%;
    margin:2rem auto;
    text-align: center;
    color: #383F42;
}

h3{
    font-size: 1.953em;
    color: #383F42;
}

h4{ 
    font-size: 1.563em;
}

p {
    font-size: 1em;
    font-family: 'Alegreya', serif;
    color:#003247;
}



.items-menu {
    display: inline-flex;
    align-self: center;
    /* border: 1px red solid; */
    margin-right: 5rem;
}

/* .items-menu li{
    display: inline;
} */

nav a{

    color: #003247;
    text-decoration: none;
    margin: 1.5em;
    transition: all 0.5s ease;
    
    
}

nav a:visited {
    color: #41A2CC;
}

nav a:hover{
    color: #A3B8C2;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.19);
}


/* Structure Desktop */



header{
    width: 90%;
    height: auto;
    border-bottom: 2px solid #003247;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;  
}

/* ABOUT ME */

main {

    flex-grow: 1;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.about-me{
    display: flex;
    align-items: center;
}

.bio {
    
    min-width: 300px;
    padding: 5rem;
    line-height: 1.3rem;
}


.profile-pic{

    width: 20%;
    object-fit: contain;
    margin: 3rem 6rem 3rem 3rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) /*, 0 6px 20px 0 rgba(0, 0, 0, 0.19)*/;
}

/* PROJECTS */

/* .project-gallery{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
    flex-wrap: wrap;
    width: 95%;
    margin: 3rem auto 3rem auto;
    padding: 2rem;
    
} */

/* CODE BASED ON https://www.w3schools.com/howto/howto_js_slideshow.asp */

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    
  }

  /* Hide the images by default */
.mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }


  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  /* SLIDE SHOW IS UP TO HERE */

.project{
    /* display: flex;
    flex-direction: column;
    align-content: flex-start; */

    border: 1px solid #A3B8C2;
    border-radius: 3px;
    padding: 1.5rem;
    width: 40%;
    height: auto;
    overflow: hidden;
    margin: 15px;
    flex: 1 1 200px;
    
}

.project p{
    margin-bottom: 10px;
    margin-top: 8px;

}

.project img{
    
    width: 100%;
    height: auto;
    margin: 8px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.project i {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}


/* SKILLS */

.logo {
    font-size: 40px; /* To have bigger logos for the skills and technologies*/
    color: #383F42;
}

.skills{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3rem 25% 3rem 25%

}

/* FOOTER */

footer{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid #003247;

}

footer p{

    font-family: 'Bree Serif', serif;
    text-align: center;
    color: #003247;
    padding: 10px;
 

}

.fa-heart{
    color: #41A2CC;
}

/* MOBILE VERSION STYLES */


@media (max-width: 600px) {


    /* HEADER */
    header{
        flex-direction: column;
    }

    h1{
        margin: 1rem auto;
    }

    .items-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    nav a{
        
        color: #003247;
        text-transform: uppercase;
        font-size: 1.8rem;
        text-decoration: none;
        margin: 1.5em;
        text-align: center;
    }

    /* ABOUT ME */

    .about-me {
        display: grid; /*Changing layout to grid to bring picture to the top*/
        grid-template: [row1-start] "picture" 50% [row1-end]
                        [row2-start] "text" 50%[row2-end]
        / auto;
    }

    .bio {
        grid-area: text;
        justify-self: center;
        margin: 30px;
        padding: 30px;

    }
    
    .profile-pic{
        justify-self: center;
        margin: 30px;
        grid-area: picture;
        width: 50%;
    }



  }





