
/* General Styling */
/* 
font-family: 'Alegreya', serif;
font-family: 'Bree Serif', serif;

Colors:
#383F42    - DARK brown/grey maybe
#41A2CC    - light blue
#A3B8C2    - light grey
#003247    - dark blueish
#76868C    - dark grey


*/
h1, h2, h3, a {
    font-family: 'Bree Serif', serif;
}

h1 {
    font-size: 3.052em;
    color: #003247;
}

h2{
    font-size: 2.441em;
    width: 100%;
    margin:2rem auto;
    text-align: center;
    color: #383F42;
}

h3{
    font-size: 1.953em;
    color: #383F42;
}

h4{ 
    font-size: 1.563em;
}

p {
    font-size: 1em;
    font-family: 'Alegreya', serif;
    color:#003247;
}



.items-menu {
    display: inline-flex;
    align-self: center;
    /* border: 1px red solid; */
    margin-right: 5rem;
}

/* .items-menu li{
    display: inline;
} */

nav a{

    color: #003247;
    text-decoration: none;
    margin: 1.5em;
    
}

nav a:visited {
    color: #41A2CC;
}

nav a:hover{
    color: #A3B8C2;
}


/* Structure Desktop */

body {
    width: 90%;
    margin-right: auto;
    margin-left: auto;

}

header{
    border-bottom: 2px solid #003247;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
}

/* ABOUT ME */

.about-me{
    display: flex;
}

.bio {
    padding: 5rem;
    line-height: 1.3rem;
}


.profile-pic{
    width: 20%;
    height: auto;
    margin: 3rem 6rem 3rem 3rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* PROJECTS */

.project-gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    height: 400px;
    margin: 3rem auto 3rem auto;
    padding: 2rem;
    border: 1px solid black;
    overflow: hidden;
}

.project{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    border: 1px solid black;
    padding: 1rem;
    width: 35%;
    height: auto;
}

.project img{
    width: 80%;
    height: auto;
    margin-right: auto;
    margin-left: auto;

}


/* SKILLS */

.logo {
    font-size: 40px; /* To have bigger logos for the skills and technologies*/
    color: #383F42;
}

.skills{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3rem 25% 3rem 25%

}

/* FOOTER */

footer{
    border-top: 2px solid #003247;
    padding: 2rem;
}

footer p{

    font-family: 'Bree Serif', serif;
    text-align: center;
    color: #003247


}

.fa-heart{
    color: #41A2CC;
}
